*.o
*~
.deps/
.dirstamp
CMakeCache.txt
CMakeFiles
CMakeLists.txt
Makefile
Makefile.am
Makefile.in
aclocal.m4
autom4te.cache/
build-stamp
cmake_install.cmake
config.log
config.status
configure
debian/*.debhelper.log
debian/*.ex
debian/*.substvars
debian/dirs
debian/files
debian/metalink/*
metalink
obj-*/
src/metalink
