/CMakeFiles
/CMakeCache.txt
/metalink
/cmake_install.cmake
/Makefile
/Makefile.am
/Makefile.in
/aclocal.m4
/autom4te.cache/
/build-stamp
/config.log
/config.status
/configure
/debian/files
/debian/*.debhelper.log
/debian/*.substvars
/debian/metalink/*
/metalink
*.o
*~
.deps/
.dirstamp